/* Réduire la taille du bouton de téléchargement */
.form-control {
    height: 35px;
    font-size: 14px;
}

/* Bouton plus petit et aligné */
.btn {
    height: 35px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

/* Alignement horizontal des éléments */
.form-group {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

/* Ajustement du conteneur pour aligner les éléments */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.record-homme, .mean-homme {
  color: blue;
  font-size: 1.2em; /* Ajustez la taille du texte selon vos besoins */
}

.record-femme, .mean-femme {
  color: red;
  font-size: 1.2em; /* Ajustez la taille du texte selon vos besoins */
}

.performance {
  font-weight: bold;
  font-size: 1.4em; /* Ajustez la taille du texte selon vos besoins */
}

