@import url('https://fonts.googleapis.com/css2?family=Futura&display=swap');
 /* Personnalisation générale */
body {
  font-family: 'Futura Condensed', Arial, sans-serif;
  background-color: white !important;
  color: black !important;
}

.shiny-output-error,
.shiny-output-error-messages,
.shiny-output-error-message,
h1, h2, h3, h4, h5, h6 {
  color: black !important;
}

.tabset-panel .nav-link:hover {
  color: black !important;
  background-color: white !important;
}

.nav-item.active .nav-link {
  background-color: white !important;
  color: black !important;
}

.nav-tabs > li > a {
  background-color: white !important;
  color: black !important;
}

.nav-tabs > li.active > a {
  background-color: white !important;
  color: black !important;
}

/* Augmente la taille des titres dans le titlePanel */
.title h2 {
  font-size: 1.8em;
}

/* Augmente la taille des textes dans les onglets */
.nav-tabs > li > a {
  font-size: 1.5em;
}

/* Augmente la taille des textes dans les panneaux des onglets */
.tab-pane {
  font-size: 1.5em;
}

.record_value{
  font-size:2.2em;
  color : #2c2f65;
  animation : glow 1s ease-in-out infinite alternate;
} 

.record_box {
  /* border-width: 5px;
  border-style: double;
  border-color: #FFFFFF;
  padding: 5px;
  display: inline-block;
  margin-top: 2.5px; */
  /* animation : glow 1s ease-in-out infinite alternate; */
}

@keyframes glow{
  from {
      text-shadow: 
      0 0 2px #C5243D,
      0 0 4px #C5243D,
      0 0 8px #C5243D;
  }
  to {
      text-shadow: 
      0 0 2px #C5243D,
      0 0 4px #C5243D,
      0 0 8px #C5243D;
  }
}
